<div class="handlersuche-wrapper">
    <style>
        .link-5 {
            color: #d35400 !important;
        }
    </style>

    <script src="js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        var map;
        var geocoder;
        var default_lat = 51;
        var default_lng = 9;
        var default_zoom = 5;

        function set_corners() {
            $('div.gmnoprint > div.gmnoprint').addClass('roundborders');
            $('div.gmnoprint').not('.roundborders').addClass('round_parent');
            $('div.round_parent div:nth-child(4)').addClass('tooltip_bottom');

            $('div.roundborders img:first-child').attr('src', 'http://maps.gstatic.com/intl/en_ALL/mapfiles/iw_close.gif');
            //$('.tooltip_bottom img').remove();
            // $('.tooltip_bottom').css('margin-top','20px').append($('<img src="./images/tooltip_bottom.png">'));
        }

        function load() {
            if (GBrowserIsCompatible()) {
                geocoder = new GClientGeocoder();
                geocoder.setBaseCountryCode("DE");
                map = new GMap2(document.getElementById('map'));


                map.enableScrollWheelZoom();
                var gx = new GGeoXml("http://s297460684.online.de/storelocator/yourmap.kml");

                map.addOverlay(gx);

                var myIcon = new GIcon();
                myIcon.image = 'images/map_marker.png';
                myIcon.shadow = 'shadow.png';
                myIcon.iconSize = new GSize(40, 51);
                myIcon.shadowSize = new GSize(61, 60);
                myIcon.iconAnchor = new GPoint(16, 60);
                myIcon.infoWindowAnchor = new GPoint(16, 0);
                myIcon.printImage = 'printImage.gif';
                myIcon.mozPrintImage = 'transparent.png';
                myIcon.printShadow = 'transparent.png';
                myIcon.transparent = 'transparent.png';
                myIcon.imageMap = [22, 1, 23, 2, 24, 3, 24, 4, 24, 5, 24, 6, 24, 7, 24, 8, 24, 9, 24, 10, 24, 11, 24, 12, 24, 13, 24, 14, 24, 15, 24, 16, 24, 17, 24, 18, 24, 19, 24, 20, 24, 21, 24, 22, 24, 23, 24, 24, 24, 25, 24, 26, 24, 27, 24, 28, 24, 29, 24, 30, 29, 31, 30, 32, 30, 33, 30, 34, 30, 35, 30, 36, 29, 37, 29, 38, 28, 39, 28, 40, 28, 41, 27, 42, 26, 43, 26, 44, 25, 45, 24, 46, 24, 47, 23, 48, 23, 49, 22, 50, 21, 51, 21, 52, 20, 53, 19, 54, 19, 55, 18, 56, 18, 57, 17, 58, 16, 59, 14, 59, 13, 58, 12, 57, 11, 56, 11, 55, 10, 54, 10, 53, 9, 52, 8, 51, 8, 50, 7, 49, 6, 48, 6, 47, 5, 46, 5, 45, 4, 44, 3, 43, 3, 42, 2, 41, 2, 40, 1, 39, 1, 38, 0, 37, 0, 36, 0, 35, 0, 34, 0, 33, 0, 32, 1, 31, 5, 30, 5, 29, 5, 28, 5, 27, 5, 26, 5, 25, 5, 24, 5, 23, 5, 22, 5, 21, 5, 20, 5, 19, 5, 18, 5, 17, 5, 16, 5, 15, 5, 14, 5, 13, 5, 12, 5, 11, 5, 10, 5, 9, 5, 8, 5, 7, 5, 6, 5, 5, 5, 4, 5, 3, 6, 2, 7, 1];


                // Richtet das GMarkerOptions-Objektliteral ein
                markerOptions = {icon: myIcon};
                map.setCenter(new GLatLng(default_lat, default_lng), default_zoom);
            }
        }

        function searchLocations() {
            var address = document.getElementById('addressInput').value;
            geocoder.getLatLng(address, function (latlng) {
                if (!latlng) {
                    alert(address + ' not found');
                } else {
                    searchLocationsNear(latlng, address);
                }
            });
            $("#sidebar_inner").mCustomScrollbar("update");
        }

        function searchLocationsNear(center, address) {
            var radius = document.getElementById('radiusSelect').value;
            var searchUrl = 'genxml.php?lat=' + center.lat() + '&lng=' + center.lng() + '&radius=' + radius + '&specialshop=bulls&address=' + address;
            GDownloadUrl(searchUrl, function (data) {

                var xml = GXml.parse(data);
                var markers = xml.documentElement.getElementsByTagName('marker');
                map.clearOverlays();

                var sidebar = document.getElementById('sidebar_content');
                sidebar.innerHTML = '';
                if (markers.length == 0) {
                    sidebar.innerHTML = 'No results found.';
                    map.setCenter(new GLatLng(default_lat, default_lng), default_zoom);
                    return;
                }

                var bounds = new GLatLngBounds();
                for (var i = 0; i < markers.length; i++) {
                    var name = markers[i].getAttribute('name');
                    var street = markers[i].getAttribute('street');
                    var postalcode = markers[i].getAttribute('postalcode');
                    var city = markers[i].getAttribute('city');

                    var mail = markers[i].getAttribute('mail');
                    var tel = markers[i].getAttribute('tel');
                    var fax = markers[i].getAttribute('fax');
                    var www = markers[i].getAttribute('www');

                    var address = street + ' , ' + postalcode + " " + city;
                    var address_alt_format = street + ' <br> ' + postalcode + " " + city;
                    var distance = parseFloat(markers[i].getAttribute('distance'));
                    var point = new GLatLng(parseFloat(markers[i].getAttribute('lat')),
                            parseFloat(markers[i].getAttribute('lng')));

                    var marker = createMarker(point, name, address_alt_format, tel, fax, mail, www, i);
                    map.addOverlay(marker);
                    var sidebarEntry = createSidebarEntry(marker, name, address, distance, tel, fax, mail, www, i);
                    sidebar.appendChild(sidebarEntry);
                    bounds.extend(point);
                }


                map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
            });
        }

        function createMarker(point, name, address, tel, fax, mail, www, i) {
            var marker = new GMarker(point, markerOptions);
            var html = '<b style="font-size:18px;">' + name + '</b> <table><tr><td width="70">Adresse</td><td>' + address + '</td></tr><tr><td>Kontakt</td><td>' + 'Telefon: ' + tel + '<br/>' + 'Telefax: ' + fax + '<br/>' + mail + '<br/></td></tr>' + ((www != '') ? '<tr><td>Internet</td><td>' + www + '</td></tr>' : '') + '</table>';
            GEvent.addListener(marker, 'click', function () {
                set_corners();
                set_focus_sidebar(i);
                marker.openInfoWindowHtml(html);
            });
            GEvent.addListener(marker, 'infowindowopen', function () {
                set_corners();
            });
            GEvent.addListener(marker, 'closeclick', function () {
                alert('closed');
            });


            return marker;
        }

        function createSidebarEntry(marker, name, address, distance, tel, fax, mail, www, i) {
            var div = document.createElement('div');
            var html = '<span class="sidebar_name">' + name + '</span><span class="sidebar_adress">' + address + '</span><span class="sidebar_www">' + www + '</span>';
            div.innerHTML = html;
            div.id = 'sidebar_entry_' + i;
            div.style.cursor = 'pointer';
            div.style.marginBottom = '5px';
            GEvent.addDomListener(div, 'click', function () {
                GEvent.trigger(marker, 'click');
                div.style.backgroundColor = '#162e49';
                div.style.color = '#fff';

            });
            GEvent.addDomListener(div, 'mouseover', function () {
                div.style.backgroundColor = '#d5e5f7';
            });
            GEvent.addDomListener(div, 'mouseout', function () {
                div.style.backgroundColor = '#fff';
                div.style.color = '#000';
            });

            $("#sidebar_inner").mCustomScrollbar("update");
            return div;
        }

        function set_focus_sidebar(i) {
            console.log(i + 'focussed');
            $('#sidebar_content > div').css('color', '#000').css('background-color', '#fff');
            $('#sidebar_entry_' + i).focus();
            $('#sidebar_entry_' + i).click();
            $("#sidebar_inner").mCustomScrollbar("scrollTo", "#sidebar_entry_" + i);
            //  $("#sidebar_inner").mCustomScrollbar("update");
        }
        //]]>

        $(document).ready(function () {
            load();
            $("#sidebar_inner").mCustomScrollbar();
        });
        $(window).unload(function () {
            GUnload();
        });

    </script>


    <div class="handlersuche-content">
        <div class="line-4">
            <div id="handlersuche-icon" align="center"><img src="images/icon-handlersuche.png" alt="handlersuche"></div>
            <div class="line-4_text" align="center">
                <p>Hier finden Sie das Copperhead 3</p>
            </div>
        </div>
        <div id="triangle-handlersuche" align="center"><img src="images/triangle-handlersuche.png"
                                                            alt="triangle-handlersuche"></div>
    </div>
    <div class="handlersuche-images">

        <form onsubmit="searchLocations();return false;" id="top" action="index.html" method="get" align="center">
            <div id="form-handlersuche">
                <form align="center"></form>
                    PLZ oder Ort:
                <input type="text" value="Hier eingeben..." onfocus="this.value='';this.style.color='#000'"
                       onblur="if(this.value==''){this.value='Hier eingeben...';this.style.color='#aaa'}"
                       id="addressInput"/>
                <input type="button" id="submit_form" class="LocateButton" onclick="searchLocations()"
                       value="Händler finden"/>

            </div>
            <div class="iframe-handlersuche">
                <div style="width: 960px">


                    <div id="addressInputLB">


                    </div>

                    <div id="radiusSelectLB">
                        <label for="radiusSelect">Radius:</label>
                        <select id="radiusSelect">
                            <option value="1">1km</option>
                            <option value="3">3km</option>
                            <option value="5">5km</option>
                            <option value="10">10km</option>
                            <option value="25" selected>25km</option>
                            <option value="50">50km</option>
                            <option value="100">100km</option>
                            <option value="200">200km</option>
                        </select>
                    </div>


                    <div id="main">
                        <div id="map"></div>
                        <div id="hl">ZEG Händler in Ihrer Nähe:</div>
                        <div id="sidebar">
                            <div id="sidebar_inner">
                                <div id="sidebar_content"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>