<div class="impressum_page-wrapper">
    <style>.link-7 {
        color: #d35400 !important;
    }</style>
    <div class="impressum_page-content">
        <div class="line"></div>
        <div class="line2">
            <div class="content-title_impressum">
                <h>Impressum</h>
            </div>
        </div>
        <div class="content-text_impressum">
            <p>Hinweise gem. § 6 des Teledienstegesetzes (TDG) in der Fassung des Gesetzes über rechtliche
                Rahmenbedingungen
                <br>für den elektronischen Geschäftsverkehr vom 20.12.2001.
            </p>

            <p>Zweirad Einkaufs-Genossenschaft
                <br>Longericher StraBe 2
                <br>50739 Köln
            </p>

            <p>Tel: +49 (0) 221 179590
                <br>Fax: +49 (0) 221 1795974
                <br>Website: www.zeg.de
                <br>Email:kontakt@copperhead3.de
            </p>

            <p>Vorstand:
                <br>Georg Honkomp(Vors.)
                <br>Enbergt Hageböck
            </p>

            <p>Aufsichtsratvorsitzender:
                <br>Hans-Peter Durach
            </p>

            <p>Eingetragen beim Amtsgericht Köln
                <br>Gen.-Reg.-Nr. 692
                <br>USt/-ld.Nr.:DE 122806975
            </p>

            <p>Diese Website wurde mit größtmöglicher Sorgfalt zusammengestellt. Die Zweirad Einkaufs-Genossenschaft eG
                übernimmt jedoch keine Garantie für die Vollständigkeit, Richtigkeit und Aktualität der enthaltenen
                Informationen. Jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Website
                entstehen, wird ausgeschlossen. Dies gilt auch für Links, auf die diese Website direkt oder indirekt
                verweist. Die Zweirad Einkaufs-Genossenschaft eG hat keinen Einfluss auf die Gestaltung und die Inhalte
                der von uns gelinkten Seiten. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller
                gelinkten Seiten fremder Anbieter. Bei Falschinformationen oder Fehlern bitten wir Sie, uns dies über
                unser Kontaktformular mitzuteilen.</p>

            <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google
                Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine
                Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen
                über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in
                den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der
                Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen
                und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.
                Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
                vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem
                Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der
                Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch
                darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
                vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der
                über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor
                benannten Zweck einverstanden. </p>
        </div>
    </div>
</div>