<div id="zalivka-2"></div>
<div class="kontakt_page-wrapper">
    <style>.link-8 {
        color: #d35400 !important;
    }</style>
    <div class="line"></div>
    <div class="kontakt_page-content">
        <div class="line-6">
            <div class="line-6_text">
                <div id="text-right"><h1>Kontakt</h1>

                    <h2>Wir freuen uns auf Ihre Nachricht</h2>
                </div>
            </div>
        </div>
        <div id="kontakt_page-kontakt">
            <div class="map-kontakt_page">
                <!-- http://www.regiohelden.de/google-maps/index_en.html?gclid=CJXb_9zR_KsCFQl76wodgRv2kQ -->
                <img src="images/map-kontakt.jpg" alt="map-kontakt"/>
            </div>
            <div id="block-kontakt">
                <div id=block-1-kontakt>
                    <div class="text-blok_1"><p>

                        <h1>eMail</h1>
                        kontakt@copperhead3.de
                    </div>
                    </p>
                </div>
                <div id=block-2-kontakt>
                    <p>

                    <h1>Telefon</h1>
                    +49 (0) 221 179590
                    <h1>Fax</h1>
                    +49 (0) 221 1795974
                    </p>
                </div>
                <div id=block-3-kontakt>
                    <p>

                    <h1>Schreiben sie ups</h1>
                    ZEG Longericher Straße 2
                    <br>50739 Köln
                    </p>
                </div>
                <div id=block-4-kontakt>
                    <p>

                    <h1>Facebook</h1>
                    Folgen Sie uns auf Facebook
                    </p>
                </div>
                <div id=block-5-kontakt>
                    <p>

                    <h1>BULLS</h1>
                    Weiter zu bulls.de
                    </p>
                </div>
            </div>
        </div>
        <div id="form-kontakt_page">
            <form style="margin-top: 50px;margin-top: 50px;" id="contact-form">
                <input name="name" placeholder="Vor-und Nachname" cols="90" type="text"><br>
                <input name="email" placeholder="E-Mail Adresse" type="text"><br>
                <textarea rows="5" cols="90" placeholder="lhre Nachricht" name="text"></textarea><br>
                <input id="submit-kontakt" type="submit" value="Absenden">

                <div id="alert"></div>
            </form>

            <script>
                $(document).ready(function () {
                    $('#contact-form').on('submit', function () {
                        $.ajax({
                            url: 'mail.php',
                            method: 'POST',
                            dataType: 'JSON',
                            data: $('#contact-form').serialize(),

                            success: function (res) {
                                if (res.error) {
                                    $('#alert').html(res.message).addClass('error').removeClass('success');
                                } else {
                                    $('#alert').html(res.message).addClass('success').removeClass('error');
                                }
                            },

                            error: function (e) {
                                console.log(e);
                            }
                        })
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>