<div id="zalivka-10"></div>
<div class="landing_page-wrapper">
    <style>.link-1 {
        color: #d35400 !important;
    }</style>
    <div id="slider-arrows">
        <div id="slider-left-arrow" class="slider-arrow">&nbsp;</div>
        <div id="slider-right-arrow" class="slider-arrow">&nbsp;</div>
    </div>
    <script>
        $(document).ready(function () {
            $('#slider2').bxSlider({
                auto: false,
                autoControls: false,
                pause: 5000,
                slideMargin: 20,
                nextText: '',
                prevText: ''
            });

            $('#slider-left-arrow').on('click', function () {
                console.log('left');
                $('.bx-prev').trigger('click');
            });
            $('#slider-right-arrow').on('click', function () {
                console.log('right');
                $('.bx-next').trigger('click');
            });

        });


    </script>


    <div class="line"></div>
    <div class="landing_page-content">
        <div class="line-10">
            <ul id="slider2">
                <li>
                    <div class="velosiped">
                        <img src="images/velosiped-1.png" alt="vel"/>
                    </div>
                    <div class="price">
                        <h1>Price:</h1>
                        <span>999,95€</span>
                    </div>
                </li>
                <li>
                    <div class="velosiped">
                        <img src="images/velosiped-1.png" alt="vel"/>
                    </div>
                    <div class="price">
                        <h1>Price:</h1>
                        <span>999,95€</span>
                    </div>
                </li>
                <li>
                    <div class="velosiped">
                        <img src="images/velosiped-1.png" alt="vel"/>
                    </div>
                    <div class="price">
                        <h1>Price:</h1>
                        <span>999,95€</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="landing_page-discover">
            <div id="text-discover"><h1>COPPER HEAD 3, 2014</h1>
                <span>Gewinne ein BULLS Copperhead 3 Fahrradfahren macht nicht nur Spaß,
            <br/>sondern ist gesund und auch nachhaltig.</span>
            </div>
            <p align="center"><a href="#">Discover </a></p>
        </div>
        <div id="video">
            <video width="960" height="300" controls="controls" poster="images/video.jpg">
                <source src="URL">
            </video>
        </div>
        <div id="news">
            <div id="Latest_News"><span>Latest News</span></div>
            <div class="blocks-news">
                <div id="block_1-news">
                    <img src="images/news-1.jpg" alt="news-1"/>
                    <br/>

                    <h2>Tim Böhme ist Deutscher Meister!</h2>
                    <br/><span>Team Bulls ebnet mit starkem Team
                        <br/>work den Weg zum Titel</span>
                </div>
                <div id="block_2-news">
                    <img src="images/news-2.jpg" alt="news-2"/>
                    <br/>

                    <h2>Heimsieg beim Cologne226 Triathlon</h2>
                    <br/><span>Titelverteidigung in der Heimat | 2
                        <br/>Langdistanzen in 2 Wochen</span>
                </div>
                <div id="block_3-news">
                    <img src="images/news-3.jpg" alt="news-3"/>
                    <br/>

                    <h2>2. Platz für Wyn Masters beim
                        <br/>Nordkette.PRO Downhill</h2>
                    <br/><span>Jacques Bouvet wird guter 10.
                        <br/>auf einer der schwierigsten Downhill-
                        <br/>strecken Europas.</span>
                </div>
            </div>
            <div id="link-news">
                <div id="link_1-news"><p><a href="#">Read More</a></p></div>
                <div id="link_2-news"><p><a href="#">Read More</a></p></div>
                <div id="link_3-news"><p><a href="#">Read More</a></p></div>
            </div>
        </div>
    </div>
</div>