<div id="zalivka"></div>
<div class="story_page-wrapper">
    <style>.link-6 {
        color: #d35400 !important;
    }</style>
    <div class="story_page-content">
        <div class="line-5">
            <div id="story_page-icon"><img src="images/Tree.png" alt="Tree"></div>
            <div class="line-5_text">
                <p>

                <h1>BULLS Copperhead 3</h1>

                <h2>Eine Erfolgsgeschichte</h2>
                </p>
                <div id="O-story_page" align="center"><img src="images/3-0.png" alt="3-0"></div>
            </div>
        </div>
        <div class="story_page-text_images">
            <p>
                Das BULLS Copperhead 3 ist europaweit wohl das beste Mountainbike seiner Klasse.
                Wie ein Leuchtturm ragt es aus der Masse der Mitbewerber heraus, ein echtes Highlight. 2014 i st es noch
                einmal verfeinert worden:
                Als Laufradgröße wurde die neue Dimension für Premium MTBs 27,5“ gewählt. Hierdurch wird die
                Fahrsicherheit und der Spaß auf
                holperigen Strecken erhöht.
            </p>

            <p>
                Der leichte Rahmen wurde bei der Anpassung auf die neue Radgröße nochmals in der Steifigkeit optimiert.
                Im neuen Copperhead 3 kommen die hochgelobten Shimano Ice Tech Bremsscheiben zum Einsatz. Durch einen
                Aluminiumkern in
                der Edelstahlscheibe wird die Wärmeabfuhr deutlich beschleunigt. Dies führt zu einer Erhöhung der
                Standfestigkeit und der
                Bremsleistung. Ein echtes Plus bei langen gebremsten Abfahrten! Die Rock Shox Reba Luftgabel ist optisch
                perfekt auf die Rahmenfarbe
                abgestimmt. Der konifizierte Leichtrahmen hat wieder verschliffene Nähte, alle drei Farbvarianten kommen
                in einer modernen,
                sportlichen Optik. Kleine frisch-freche Anbauteile unterstreichen den Satz:
                <br>BULLS - THE RIDE YOU WANT
            </p>

            <p>
                Gönnen Sie sich eine Probefahrt, Sie sind eingeladen.
            </p>

            <div class="image_year"><img src="images/year_light.png" alt="year"></div>
            <div class="block-item">
                <div class="block-1" id="year-2009">
                    <span>2009</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2009.png" alt="2009"></div>
                    <div class="text-img">
                        <span>Die Lackqualität wurde deutlich verbessert. Die Zeitschrift BIKE vergibt ein „ SEHR GUT“</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2010">
                    <span>2010</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2010.png" alt="2010"></div>
                    <div class="text-img">
                        <span>Smooth-Welded Rahmen, neue Zugführung, neues Design“</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2011">
                    <span>2011</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2011.png" alt="2011"></div>
                    <div class="text-img">
                        <span>Tripple Butted Rahmen, neue Farben,30fach XT Schaltung</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2012">
                    <span>2012</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2012.png" alt="2012"></div>
                    <div class="text-img">
                             <span>Das Copperhead 3 kommt als Karl-Platt-Edition  zum Kampfpreis von 999.-.Die Zeitschrift MOUNTAIN BIKE  
urteilt „überragend“.</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2013">
                    <span>2013</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2013.png" alt="2013"></div>
                    <div class="text-img">
                        <span>Neuer Rahmen beginnt mit 41cm. Mehrfacher Testsieger. Bereits im Mai ausverkauft.</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2014">
                    <span>2014</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2014.png" alt="2014"></div>
                    <div class="text-img">
                        <span>Der Preis 999,95 bleibt, die Laufräder vergrößern sich auf 27.5“. Verbesserter Rahmen.</span>
                    </div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-1" id="year-2015">
                    <span>2015</span>
                </div>
                <div class="block-2">
                    <div class="block-1_image"><img src="images/2015.png" alt="2015"></div>
                    <div class="text-img">
                        <span>New Changes are soon to be arrived</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="story_page-text">

    </div>
</div>