<div class="kontakt_page-wrapper">
    <style>.link-2 {
        color: #d35400 !important;
    }</style>
    <div class="line"></div>
    <div class="technical-content">
        <div class="technical-slider-wraper">
            <div class="slider-head">
                <span id="c3-button" class="active">Copperhead 3</span>
                <span id="c3rs-button">Copperhead 3 RS</span>
            </div>
            <div class="slider-buttons">
                <span id="clr-black" class="color-button active" color="black"><p>Black</p></span>
                <span id="clr-gray" class="color-button" color="gray"><p>Gray</p></span>
                <span id="clr-white" class="color-button" color="white"><p>White</p></span>
            </div>

            <script>
                $(document).ready(function () {
                    var model = 'c3';
                    var color = 'black';

                    var refresh = function () {
                        console.log(model + ' ' + color);
                        $('.slider-head span').removeClass('active');
                        $('#' + model + '-button').addClass('active');

                        $('.slider-buttons span').removeClass('active');
                        $('#clr-' + color).addClass('active');

                        $('.slide').each(function () {
                            var _this = this;
                            if (!$(this).hasClass(model) || !$(this).hasClass('slide-' + color)) {
                                if ($(this).is(':visible')) {
                                    console.log('test');
                                    $(this).fadeOut('fast', function () {
                                        $('.slide.' + model + '.slide-' + color).fadeIn('fast');
                                    });
                                }
                            }
                        });

                        // TODO: switch tech data
                        if (model == 'c3') {
                            $('#techdata-c3').show();
                            $('#techdata-c3rs').hide();
                        } else {
                            $('#techdata-c3rs').show();
                            $('#techdata-c3').hide();
                        }
                    }

                    $('#c3-button').on('click', function () {
                        model = 'c3';
                        refresh();
                    });
                    $('#c3rs-button').on('click', function () {
                        model = 'c3rs';
                        refresh();
                    });
                    $('.color-button').on('click', function () {
                        color = $(this).attr('color');
                        refresh();
                    });

                    $('.slide').each(function () {
                        if (!$(this).hasClass(model) || !$(this).hasClass('slide-' + color)) {
                            $(this).hide();
                        }
                    });

                    refresh();

                });
            </script>

            <div id="slides-holder">

                <div class="slide c3 slide-black">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>

                <div class="slide c3 slide-gray" style="display: none">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>

                <div class="slide c3 slide-white" style="display: none">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>


                <div class="slide c3rs slide-black">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>

                <div class="slide c3rs slide-gray">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>

                <div class="slide c3rs slide-white">
                    <div class="slider-text">
                        <span class="line-1"><b>Euro <i>999,95</i></b></span>
                        <span class="line-2">Black Matt/White Matt/Blue </span>
                    </div>
                    <span class="img">
                        <img src="images/technical-slider-bike.png" border="0" alt="bike">
                    </span>
                </div>


            </div>
        </div>


        <!-- TECH DATA FOR Copperhead 3 MODEL -->

        <div id="techdata-c3" class="technical-main-content">
            <h1>Copperhead 3 Modell 2014</h1>


            <div class="tabs">

                <div class="tab">
                    <input type="radio" id="tab-1" name="tab-group-1" checked>
                    <label for="tab-1">TECHNISCHE DATEN</label>

                    <div class="tab-content">
                        <table class="zebra">
                            <tr>
                                <td width="50px">&nbsp</td>
                                <td width="250px">RAHMEN</td>
                                <td>7005 superlite aluminium, triple butted</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 1</td>
                                <td>shiny white / black-matt / blue</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 2</td>
                                <td>black-matt / grey-matt</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 3</td>
                                <td>black-matt / white-matt / blue</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>RAHMENHÖHEN</td>
                                <td>41/46/51/56 cm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FEDERUNG</td>
                                <td>Hardtail</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FEDERWEG VORNE</td>
                                <td>100mm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>GABEL</td>
                                <td>Rock Shox Reba RL 27,5 Solo Air, 100 mm, pushloc remote lockout</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SCHALTWERK</td>
                                <td>Shimano Deore XT 3 x 10-speed, shadow</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>UMWERFER</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SCHALTHEBEL</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>KURBELGARNITUR</td>
                                <td>Shimano FC-M622, 40/30/22T - PRESS FIT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>BREMSEN</td>
                                <td>Shimano Deore Ice Tech hydraulic disc 180/180 mm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>LENKER</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>VORBAU</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SATTELSTÜTZE</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SATTEL</td>
                                <td>Selle Royal Respiro Sport, Copperhead Design</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>NABEN</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FELGEN</td>
                                <td>BULLS XC-25D LITE</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>REIFEN</td>
                                <td>Schwalbe Rocket Ron Evolution Folding 27,5 x 2.25</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>GEWICHT</td>
                                <td>ca. 11,3 kg</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>PREIS (UVP)</td>
                                <td>999,95€</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">
                    <label for="tab-2">GEOMETRIEN</label>

                    <div class="tab-content">
                        <table class="geo">
                            <tr>
                                <td width="200px">Rahmenhöhe</td>
                                <td width="20px">&nbsp;</td>
                                <td width="70px">s(41)</td>
                                <td width="70px">M(46)</td>
                                <td width="70px">L(51)</td>
                                <td width="70px">XL(56)</td>
                            </tr>
                            <tr>
                                <td>Sitzrohrlänge</td>
                                <td>A</td>
                                <td>410mm</td>
                                <td>460mm</td>
                                <td>510mm</td>
                                <td>560mm</td>
                            </tr>

                            <tr>
                                <td>Oberrohrlänge</td>
                                <td>B</td>
                                <td>575mm</td>
                                <td>595mm</td>
                                <td>615mm</td>
                                <td>635mm</td>
                            </tr>

                            <tr>
                                <td>Kettenstrebenlänge</td>
                                <td>C</td>
                                <td>440mm</td>
                                <td>440mm</td>
                                <td>445mm</td>
                                <td>450mm</td>
                            </tr>

                            <tr>
                                <td>Tretlageroffset</td>
                                <td>D</td>
                                <td>45mm</td>
                                <td>40mm</td>
                                <td>40mm</td>
                                <td>35mm</td>
                            </tr>

                            <tr>
                                <td>Steuerrohrlänge</td>
                                <td>E</td>
                                <td>100mm</td>
                                <td>120mm</td>
                                <td>145mm</td>
                                <td>175mm</td>
                            </tr>

                            <tr>
                                <td>Lenkwinkel</td>
                                <td>α</td>
                                <td>70°</td>
                                <td>70°</td>
                                <td>70°</td>
                                <td>70°</td>
                            </tr>

                            <tr>
                                <td>Sitzwinkel</td>
                                <td>β</td>
                                <td>73°</td>
                                <td>73°</td>
                                <td>72,5°</td>
                                <td>72°</td>
                            </tr>
                        </table>
                        <img src="images/Geometriya.png" alt="Geo" class="myimage"/>
                    </div>

                </div>

                <div class="tab">
                    <input type="radio" id="tab-3" name="tab-group-1">
                    <label for="tab-3">TECHNOLOGIEN</label>

                    <div class="tab-content">
                        <table class="tech">
                            <tr>
                                <td width="160px"><img src="images/tech-banner-1.png" class="tech-tab-img"></td>
                                <td width="200px" class="b">GEOMETRIEN</td>
                                <td>Haltbarkeit und nahtlose Schaltvorgänge sind die Vorteile.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-2.png" class="tech-tab-img"></td>
                                <td class="b">Press Fit</td>
                                <td>Das neue Innenlager erhöht die Steifigkeit und ist leichter.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-3.png" class="tech-tab-img"></td>
                                <td class="b">Tailored Chainstays</td>
                                <td>Großer Rahmen=längere Kettenstrebe= besserer Schwerpunkt</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-4.png" class="tech-tab-img"></td>
                                <td class="b">Tapered Steerer</td>
                                <td>Das größere untere Steuerkopflager sorgt für zusätzliche Stabilität.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-5.png" class="tech-tab-img"></td>
                                <td class="b">Tripled Butted</td>
                                <td>Dünnwandige Alurohre sind an den Enden zur Erhöhung der Steifigkeit verstärkt.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-6.png" class="tech-tab-img"></td>
                                <td class="b">Travel F100mm</td>
                                <td>100mm Federweg: Das perfekte Maß für Effizienz und Komfort.</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-4" name="tab-group-1">
                    <label for="tab-4">3D-MODELL</label>

                    <div class="tab-content" align="center">
                        <img src="images/3d-bike.png" style="margin-top: 100px">
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-5" name="tab-group-1">
                    <label for="tab-5">DOKUMENTE</label>

                    <div class="tab-content">
                        <div class="doc-info">
                            <h2>DOKUMENTE & DOWNLOADS</h2>
                            <span>
                                Informieren Sie sich im Detail über das BULLS Copperhead 3,<br>
                                vereinbaren Sie eine Probefahrt und starten Sie mit dem Copperhead 3.
                            </span>
                        </div>
                        <div class="doc-downloads">
                            <div class="doc-down-item">
                                <span class="down-left-ico"></span>

                                    <span class="text1">Datenblatt</span>
                                    <span class="text2">BULLS  Copperhead 3 - Datenblatt</span>
                                <a href='#' class="text">
                                <span class="down-right-ico"></span>
                                </a>
                            </div>
                            <div class="doc-down-item">
                                <span class="down-left-ico"></span>

                                    <span class="text1">Datenblatt</span>
                                    <span class="text2">BULLS  Copperhead 3 - Datenblatt</span>
                                <a href='#' class="text">
                                <span class="down-right-ico"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- TECH DATA FOR Copperhead 3RS MODEL -->

        <div id="techdata-c3rs" class="technical-main-content" style="display: none">
            <h1>Copperhead 3RS Modell 2014</h1>


            <div class="tabs">

                <div class="tab">
                    <input type="radio" id="tab-6" name="tab-group-2" checked>
                    <label for="tab-6">TECHNISCHE DATEN</label>

                    <div class="tab-content">
                        <table class="zebra">
                            <tr>
                                <td width="50px">&nbsp</td>
                                <td width="250px">RAHMEN</td>
                                <td>7005 superlite aluminium, triple butted</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 1</td>
                                <td>shiny white / black-matt / blue</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 2</td>
                                <td>black-matt / grey-matt</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FARBOPTION 3</td>
                                <td>black-matt / white-matt / blue</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>RAHMENHÖHEN</td>
                                <td>41/46/51/56 cm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FEDERUNG</td>
                                <td>Hardtail</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FEDERWEG VORNE</td>
                                <td>100mm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>GABEL</td>
                                <td>Rock Shox Reba RL 27,5 Solo Air, 100 mm, pushloc remote lockout</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SCHALTWERK</td>
                                <td>Shimano Deore XT 3 x 10-speed, shadow</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>UMWERFER</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SCHALTHEBEL</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>KURBELGARNITUR</td>
                                <td>Shimano FC-M622, 40/30/22T - PRESS FIT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>BREMSEN</td>
                                <td>Shimano Deore Ice Tech hydraulic disc 180/180 mm</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>LENKER</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>VORBAU</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SATTELSTÜTZE</td>
                                <td>Kalloy UNO (Grade 3.0)</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>SATTEL</td>
                                <td>Selle Royal Respiro Sport, Copperhead Design</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>NABEN</td>
                                <td>Shimano Deore XT</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>FELGEN</td>
                                <td>BULLS XC-25D LITE</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>REIFEN</td>
                                <td>Schwalbe Rocket Ron Evolution Folding 27,5 x 2.25</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>GEWICHT</td>
                                <td>ca. 11,3 kg</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>PREIS (UVP)</td>
                                <td>999,95€</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-7" name="tab-group-2">
                    <label for="tab-7">GEOMETRIEN</label>

                    <div class="tab-content">
                        <table class="geo">
                            <tr>
                                <td width="200px">Rahmenhöhe</td>
                                <td width="20px">&nbsp;</td>
                                <td width="70px">s(41)</td>
                                <td width="70px">M(46)</td>
                                <td width="70px">L(51)</td>
                                <td width="70px">XL(56)</td>
                            </tr>
                            <tr>
                                <td>Sitzrohrlänge</td>
                                <td>A</td>
                                <td>410mm</td>
                                <td>460mm</td>
                                <td>510mm</td>
                                <td>560mm</td>
                            </tr>

                            <tr>
                                <td>Oberrohrlänge</td>
                                <td>B</td>
                                <td>575mm</td>
                                <td>595mm</td>
                                <td>615mm</td>
                                <td>635mm</td>
                            </tr>

                            <tr>
                                <td>Kettenstrebenlänge</td>
                                <td>C</td>
                                <td>440mm</td>
                                <td>440mm</td>
                                <td>445mm</td>
                                <td>450mm</td>
                            </tr>

                            <tr>
                                <td>Tretlageroffset</td>
                                <td>D</td>
                                <td>45mm</td>
                                <td>40mm</td>
                                <td>40mm</td>
                                <td>35mm</td>
                            </tr>

                            <tr>
                                <td>Steuerrohrlänge</td>
                                <td>E</td>
                                <td>100mm</td>
                                <td>120mm</td>
                                <td>145mm</td>
                                <td>175mm</td>
                            </tr>

                            <tr>
                                <td>Lenkwinkel</td>
                                <td>α</td>
                                <td>70°</td>
                                <td>70°</td>
                                <td>70°</td>
                                <td>70°</td>
                            </tr>

                            <tr>
                                <td>Sitzwinkel</td>
                                <td>β</td>
                                <td>73°</td>
                                <td>73°</td>
                                <td>72,5°</td>
                                <td>72°</td>
                            </tr>
                        </table>
                        <img src="images/Geometriya.png" alt="Geo" class="myimage"/>
                    </div>

                </div>

                <div class="tab">
                    <input type="radio" id="tab-8" name="tab-group-2">
                    <label for="tab-8">TECHNOLOGIEN</label>

                    <div class="tab-content">
                        <table class="tech">
                            <tr>
                                <td width="160px"><img src="images/tech-banner-1.png" class="tech-tab-img"></td>
                                <td width="200px" class="b">GEOMETRIEN</td>
                                <td>Haltbarkeit und nahtlose Schaltvorgänge sind die Vorteile.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-2.png" class="tech-tab-img"></td>
                                <td class="b">Press Fit</td>
                                <td>Das neue Innenlager erhöht die Steifigkeit und ist leichter.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-3.png" class="tech-tab-img"></td>
                                <td class="b">Tailored Chainstays</td>
                                <td>Großer Rahmen=längere Kettenstrebe= besserer Schwerpunkt</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-4.png" class="tech-tab-img"></td>
                                <td class="b">Tapered Steerer</td>
                                <td>Das größere untere Steuerkopflager sorgt für zusätzliche Stabilität.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-5.png" class="tech-tab-img"></td>
                                <td class="b">Tripled Butted</td>
                                <td>Dünnwandige Alurohre sind an den Enden zur Erhöhung der Steifigkeit verstärkt.</td>
                            </tr>
                            <tr>
                                <td><img src="images/tech-banner-6.png" class="tech-tab-img"></td>
                                <td class="b">Travel F100mm</td>
                                <td>100mm Federweg: Das perfekte Maß für Effizienz und Komfort.</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-9" name="tab-group-2">
                    <label for="tab-9">3D-MODELL</label>

                    <div class="tab-content" align="center">
                        <img src="images/3d-bike.png" style="margin-top: 100px">
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-10" name="tab-group-2">
                    <label for="tab-10">DOKUMENTE</label>

                    <div class="tab-content">
                        <div class="doc-info">
                            <h2>DOKUMENTE & DOWNLOADS</h2>
                            <span>
                                Informieren Sie sich im Detail über das BULLS Copperhead 3,<br>
                                vereinbaren Sie eine Probefahrt und starten Sie mit dem Copperhead 3.
                            </span>
                        </div>
                        <div class="doc-downloads">
                            <div class="doc-down-item">
                                <span class="down-left-ico"></span>
                                <a href='#' class="text">
                                    <span class="text1">Datenblatt</span>
                                    <span class="text2">BULLS  Copperhead 3 - Datenblatt</span>
                                </a>
                                <span class="down-right-ico"></span>
                            </div>
                            <div class="doc-down-item">
                                <span class="down-left-ico"></span>
                                <a href='#' class="text">
                                    <span class="text1">Datenblatt</span>
                                    <span class="text2">BULLS  Copperhead 3 - Datenblatt</span>
                                </a>
                                <span class="down-right-ico"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>