<div id="zalivka-2"></div>
<div class="test_page-wrapper">
    <style>.link-3 {
        color: #d35400 !important;
    }</style>
    <div class="line"></div>
    <div class="test_page-content">
        <div class="line-3">
            <div class="line-3_text">
                <div class="test_page-title">
                    <h2>TESTS</h2>
                </div>
                <div class="test_page-text">
                    <p>
                        Hier hat die Fachpresse das 2014
                        <br>Modell und die Vorjahresmodellebrbr
                        <br>geprüft
                    </p>
                </div>
            </div>
        </div>
        <div id="test_page-images">

            <div id="item-1" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        1 <span class="float-left">bike TIPP- Testsieger - Ausgabe 02/2014</span>
                        <span class="float-right">Gesamturteil: SEHR GUT</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/Vel-1.jpg" data-rel="lightcase"></a>
                </span>
            </div>

            <div id="item-2" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        2 <span class="float-left">aktivRadfahren - Ausgabe 1-2/2014</span>
                        <span class="float-right">Gesamturteil: ÜBERRAGEND</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/vel-2.jpg" data-rel="lightcase"></a>
                </span>
            </div>

            <div id="item-3" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        <span class="float-left">aktivRadfahren - Ausgabe 1-2/2013</span>
                        3 <span class="float-right">Gesamturteil: SEHR GUT</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/vel-3.jpg" data-rel="lightcase"></a>
                </span>
            </div>

            <div id="item-4" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        4 <span class="float-left">bike TIPP - Ausgabe 02/2013</span>
                        <span class="float-right">Gesamturteil: SEHR GUT</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/vel-4.jpg" data-rel="lightcase"></a>
                </span>
            </div>

            <div id="item-5" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        5 <span class="float-left">MountainBIKE - Ausgabe 03/2012</span>
                        <span class="float-right">Gesamturteil: ÜBERRAGEND</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/vel-5.jpg" data-rel="lightcase"></a>
                </span>
            </div>

            <div id="item-6" class="vel-1">
                <div class="test_page-span">
                    <div class="twolines">
                        6 <span class="float-left">MountainBIKE - Ausgabe 03/2012</span>
                        <span class="float-right">Gesamturteil: SEHR GUT</span>
                    </div>
                </div>
                <span class="item-image">
                    <a href="./images/vel-6.jpg" data-rel="lightcase"></a>
                </span>
            </div>

        </div>
    </div>
</div>
<!--

.footer-main {
    width: 100%;
    height: 180px;
    background: #f1c40f;
}

#header-wraper li {
    float: left;
    margin-left: 25px;
    color: #3c3c3c;
}
-->