@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

* {
    margin: 0;
    padding: 0;

}

header {
    font-family: 'Helvetica Neue', Helvetica, Ariarl, sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background: #ffffff;
}

ul {
    list-style: none;
}

#header-wraper {
    width: 960px;
    height: 68px;
    display: inline-block;
    background: #ffffff;
}

#logo-header {
    float: left;
    margin: 24px 0 0 10px;
    background: url('../images/logo-header.png');
    width: 145px;
    height: 28px;
}

#header-wraper ul {
    display: inline;
    float: right;
    margin: 29px 12px 0 0;
}

#header-wraper li {
    float: left;
    margin-left: 25px;
    color: #3c3c3c;
}

#header-wraper li a {
    color: #3c3c3c;
    /*font: regular 18px HelveticaNeue;*/
    text-decoration: none;
}

#header-wraper a {
    color: #3c3c3c;
}

#header-wraper a:hover {
    color: #d35400;
}

footer {
    width: 100%;
    font-family: "Open Sans Condensed Light";
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
    color: #222222;
}

.row ul {
    list-style: none;
    margin-left: 10px;
    margin-top: 3px;
    display: inline-block;
}

.row li {
    float: left;
    margin-right: 13px;
}

.row a:hover {
    color: #d35400;
}

.footer-main {
    width: 100%;
    height: 180px;
    background: #f1c40f;
}

#footer-wrapper {
    margin: 0 auto;
    width: 960px;
}

#footer-wrapper a {
    color: #444444;
}

.row a {
    text-decoration: none;
}

.column {
    float: left;
    width: auto;
    height: auto;
}

.row {
    width: 419px;
    height: auto;
    margin: 0 0 0 0;

}

.aaa {
    width: 100%;
    height: 31px;
    background-color: #ffffff;
}

#left-tab {
    float: left;
    width: 419px;
    height: 145px;
    position: relative;
    z-index: 2;
}

.right-tab {
    float: left;
    position: relative;
    z-index: 2;
}

.text-map {

    width: 540px;
    height: 143px;

    background-image: url(../images/map-footer.png);
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #ededed;
}

.text-map p {
    padding-top: 15px;
    width: 270px;
    padding-left: 218px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #d35400;
}

.footer-main {
    padding-top: 34px;
    position: relative;
}

#shadow {
    position: absolute;
    width: 960px;
    height: 90px;
    z-index: 1;
    background-image: url(../images/shadow-footer.png);
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

/*#shadow:after {
    
    position: absolute;
    width: 120%;
    height: 144px;
    left: -10%;
    right: -10%
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
background: radial-gradient(ellipse at 50% 0%, rgba(00, 00, 00, 1), rgba(97, 97, 97, 0.0) 42%);
}*/

/*** STORY PAGE */

#zalivka {
    width: 100%;
    height: 350px;
    position: absolute;
    background: #ffea00;
    content: " ";
    z-index: 1;
}

.story_page-wrapper {
    background: #ededed;
}

.story_page-content {
    width: 960px;
    margin: 0 auto;

}

.line-5 {
    width: 100%;
    height: 350px;
    background: #ffea00;
    z-index: 2;
    position: relative;
}

.line-5_text {
    width: 960px;
    font-family: Roboto;
    font-weight: 300;
    color: #000000;

}

.line-5_text h1 {
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 102px;

}

.line-5_text h2 {
    font-size: 48px;
    ffont-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 150px;
    padding-bottom: 103px;
}

#story_page-icon {
    width: 960px;

}

#O-story_page {
    padding-bottom: 12px;
}

.story_page-text_images {
    width: 960px;
    background: #ffffff;
}

.story_page-text_images {
    padding-top: 25px;
}

.story_page-text_images p {
    padding-bottom: 30px;
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    font-size: 13px;
    padding-left: 35px;
    padding-right: 194px;
}

.image_year {
    padding-bottom: 25px;
}

.block-item {
    width: 960px;
    height: 200px;
    padding-bottom: 20px;
}

.block-1 {
    width: 155px;
    height: 200px;
    margin-left: 16px;
    float: left;

}

.block-2 {
    float: left;
}

.text-img {
    width: 774px;
    height: 51px;
    background: #dbdbdb;
    float: left;
    font-size: 15px;
    font-family: Open Sans;
    color: #2b2b2b;
    display: inline-block;
    vertical-align: middle;

}

.block-1_image {
    height: 149px;
}

.text-img span {
    display: inline-block;
    padding-left: 47px;
    padding-top: 10px;
}

.block-1 span {
    font-size: 41px;
    font-family: Open Sans;
    color: #ffffff;
    font-style: italic;
    display: inline-block;
    margin-left: 30px;
    margin-top: 73px;
}

#year-2009 {
    background: #f39c12;
}

#year-2010 {
    background: #e74c3c;
}

#year-2011 {
    background: #2980b9;
}

#year-2012 {
    background: #27ae60;
}

#year-2013 {
    background: #34495e;
}

#year-2014 {
    background: #1abc9c;
}

#year-2015 {
    background: #a20101;
}

body {
    width: 100%;
    background: #ededed
}

/* test-page */

.test_page-wrapper {
    background: #ededed;
    width: 100%;
}

.test_page-content {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;

}

#zalivka-2 {
    width: 100%;
    height: 342px;
    position: absolute;
    background: #3498db;
    content: " ";
    z-index: 1;
}

.line {
    width: 100%;
    height: 8px;
    background: #ffea00;
    position: absolute;
    z-index: 3;
}

.line-3 {
    width: 960px;;
    height: 342px;
    background: #3498db;
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.line-3_text {
    float: left;
    padding-top: 115px;
    padding-left: 70px;
    text-align: right;
}

.test_page-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 31px;
    color: #ffffff;
    font-style: italic;

}

.test_page-text {
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;
    color: #ffffff;
}

#test_page-images {
    /*width: 100%;*/
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    padding-bottom: 50px;
}

.vel-1 {
    box-sizing: border-box;
    border: 7px solid black;
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    position: relative;
}

.vel-1#item-1 {
    background: url("../images/Vel-1.jpg") no-repeat;
}

.vel-1#item-2 {
    background: url("../images/vel-2.jpg") no-repeat;
}

.vel-1#item-3 {
    background: url("../images/vel-3.jpg") no-repeat;
}

.vel-1#item-4 {
    background: url("../images/vel-4.jpg") no-repeat;
}

.vel-1#item-5 {
    background: url("../images/vel-5.jpg") no-repeat;
}

.vel-1#item-6 {
    background: url("../images/vel-6.jpg") no-repeat;
}

.vel-1 .item-image:hover {
    cursor: pointer;
    background: #000000 url("../images/lupa.png") no-repeat;
    background-position: center;
    z-index: 3;
    opacity: 0.5;
}

.vel-1 .item-image {
    display: block;
    width: 876px;
    height: 314px;
    margin: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.item-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.vel-1 span {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.test_page-span {
    width: 100%;
    height: 50px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: -25px;
    z-index: 2;
}

.test_page-span span {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    color: white;
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    font-size: 22px;
}

.test_page-span .twolines {
    width: 96%;
    position: relative;
    margin: 7px auto;
}

.float-right {
    text-align: right;
}

/* kontakt-page */

.kontakt_page-wrapper {
    background: #ededed;
    width: 100%;
}

.kontakt_page-content {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;

}

#zalivka-3 {
    width: 100%;
    height: 342px;
    position: absolute;
    background: #f1c40f;
    content: " ";
    z-index: 1;
}

.line {
    width: 100%;
    height: 8px;
    background: #ffea00;
    position: absolute;
    z-index: 3;
}

.line-6 {
    width: 960px;;
    height: 342px;
    background: #f1c40f;
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.line-6_text {
    width: 960px;
    font-family: Roboto;
    color: #ffffff;

}

.line-6_text h1 {
    font-size: 31px;
    font-weight: 300;
}

.line-6_text h2 {
    font-size: 34px;
    font-weight: 300;
}

#text-right {
    width: 550px;
    text-align: right;
    padding-top: 145px;

}

.map-kontakt_page {
    width: 960px;
    position: ;
    height: 503px;

}

#kontakt_page-kontakt {
    position: relative;
}

#block-kontakt {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 900px;
    z-index: 2;
    padding-left: 30px;
    text-align: center;
    font-family: Open sens;
}

#block-kontakt h1 {
    color: #000000;
    font-size: 20px;
}

#block-1-kontakt {
    width: 179px;
    height: 163px;
    background: #f1c40f;
    float: left;
    margin-right: 1px;

}

#block-1-kontakt p {
    margin-top: 55px;
}

#block-4-kontakt p {
    margin-top: 55px;
}

#block-5-kontakt p {
    margin-top: 55px;
}

#block-2-kontakt p {
    margin-top: 35px;
}

#block-3-kontakt p {
    margin-top: 55px;
}

#block-2-kontakt {
    width: 179px;
    height: 163px;
    background: #f1c40f;
    float: left;
    margin-right: 1px;
}

#block-3-kontakt {
    width: 179px;
    height: 163px;
    background: #f1c40f;
    margin-right: 1px;
}

#block-4-kontakt {
    width: 179px;
    height: 163px;
    background: #f1c40f;
    float: left;
    margin-right: 1px;
}

#block-5-kontakt {
    width: 179px;
    height: 163px;
    background: #f1c40f;
    float: left;
}

#form-kontakt_page {
    padding-left: 135px;
    position: relative;
}

#form-kontakt_page input {
    margin-bottom: 27px;
    padding-left: 10px;
    width: 688px;
    height: 50px;
    color: #bababa;
    font-size: 20px;
    font-family: Open sens;
}

#form-kontakt_page textarea {
    margin-bottom: 27px;
    padding-left: 10px;
    color: #bababa;
    font-size: 20px;
    font-family: Open sens;
    width: 690px;
    padding-top: 10px;
    height: 145px;
}

#form-kontakt_page input[type="submit"] {
    width: 140px;
    height: 45px;
    background: #f1c40f;
    font-size: 20px;
    font-family: Open Sans;
    color: #ffffff;
    font-weight: bold;
    border: none;
    display: inline-block;
    cursor: pointer;

}

#form-kontakt_page input[type="submit"]:hover {
    background: #DBD375;
}


#form-kontakt_page #alert {
    display: inline-block;
    margin-left: 30px;
}

.error {
    color: #bd0030;
    font-weight: bold;
}

.success {
    color: #00A822;
    font-weight: bold;
}

/* hendlersuche-page */

.handlersuche-wrapper {
    background: #ededed;
}

.handlersuche-content {
    width: 960px;
    margin: 0 auto;
}

.line-4 {
    width: 100%;
    height: 350px;
    background: #ffea00;
}

.line-4_text {
    font-family: Roboto;
    font-weight: 300;
    font-size: 33px;
    color: #000000;

}

#handlersuche-icon {
    padding-top: 80px;
    padding-bottom: 55px;
}

#triangle-handlersuche {
    width: 960px;
    background: #ffffff;
    padding-bottom: 20px;
}

.handlersuche-images {
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
}

#form-handlersuche {
    font-family: Open Sans;
    color: #5c5c5c;
    font-size: 15px;
    padding-bottom: 60px;
}

#form-handlersuche input[type="text"] {
    border: 1px solid #bababa;
    border-radius: 0px;
    width: 268px;
    height: 47px;
    color: #bababa;
    font-size: 17px;
    font-family: Open Sans;
    margin-left: 24px;
    margin-right: 17px;
}

#form-handlersuche input[type="button"] {
    width: 138px;
    height: 48px;
    background: #ffea00;
    font-size: 17px;
    font-family: Open Sans;
    border: 1px solid #ffea00;
}

#form-handlersuche input:hover[type="button"] {
    color: #000000 !important;
    background: #DBD375;
}

.iframe-handlersuche {
    padding-bottom: 90px;
}

/* ipressum-page */

.Impressum_page-wrapper {
    background: #ededed;
}

.Impressum_page-content {
    width: 960px;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 8px;
    background: #ffea00;
}

.line2 {
    width: 100%;
    height: 342px;
    background: #e74c3c;
    padding-bottom: 66px;
}

.content-text_impressum {
    margin: 0 auto;
    width: 960px;
    background: white;
}

.content-text_impressum p {
    font-family: "Roboto";
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
    color: #787878;
}

.content-title_impressum {
    font-family: "Roboto";
    font-weight: normal;
    text-transform: none;
    font-size: 31px;
    color: #fae2e0;
    width: 960px;
    margin: 0 auto;
}

.content-title_impressum {
    padding-top: 150px;
    padding-left: 140px;
}

.content-text_impressum p {
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 40px;
}

.content-text_impressum {
    padding-bottom: 50px;
    padding-top: 65px;
}

/* faq-page */

.faq-wrapper {
    background: #ededed;
}

.faq-content {
    width: 960px;
    margin: 0 auto;
}

.content_faq-text {
    width: 960px;
    padding: 55px 0px 67px 0;
    padding-bottom: 55px;
    font-family: Open Sans;
    color: #5c5c5c;
    font-size: 13px;
    background: #ffffff;
}

.line {
    width: 100%;
    height: 8px;
    background: #ffea00;
}

.line-8 {
    width: 100%;
    height: 342px;
    background: #e74c3c;
}

.faq-logo {
    float: right;
    padding-top: 65px;
    padding-right: 112px;
}

.faq-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    color: #fae2e0;
    float: left;
    padding-top: 120px;
    padding-left: 125px;
    text-align: right;
}

.content_faq-text h1 {
    font-family: Open Sans;
    color: #e74c3c;
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 21px;
    padding-left: 32px;
    margin-left: 27px;
}

h1.icon-1 {
    background: url(../images/FAQ-icon.png) 0 5px no-repeat;;
}

.content_faq-text p {
    padding-bottom: 55px;
    padding-left: 60px;
    padding-right: 30px;
}

/* landing-page */

.landing_page-wrapper {
    background: #ededed;
}

#zalivka-10 {
    width: 100%;
    height: 600px;
    position: absolute;
    background: #f1c40f;
    content: " ";
    z-index: 1;
}

#slider-arrows {
    position: absolute;
    max-width: 1190px;
    min-width: 960px;
    margin-top: 70px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 223px auto;
}

#slider-left-arrow {
    background-image: url('../images/slider-left-arrow.png');
    width: 53px;
    height: 53px;
    float: left;
    cursor: pointer;
}

#slider-right-arrow {
    background-image: url('../images/slider-right-arrow.png');
    background-position: right;
    width: 53px;
    height: 53px;
    float: right;
    cursor: pointer;
}

.landing_page-content {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
    z-index: 2;
}

.line {
    width: 100%;
    height: 8px;
    background: #ffea00;
    position: absolute;
    z-index: 4;
}

.line-10 {
    position: absolute;
    width: 100%;
    height: 429px;
    background: url("../images/landing_page-background.jpg");
    z-index: 3;
    background-repeat: no-repeat;

}

.velosiped img {
    padding: 30px 0px 0px 55px;
}

.price {
    position: absolute;
    top: 161px;
    right: 54px;
    font-family: "Open Sans";
    color: #806809;
}

.price h1 {
    font-size: 12px;
}

.price span {
    font-style: italic;
    font-size: 23px;
}

#text-discover {
    display: flex;
    bottom: 0;
    width: 960px;
}

#text-discover h1 {
    float: left;
    font-family: 'helvetica';
    font-size: 32px;
    font-weight: normal;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 24px;
}

#text-discover span {
    margin-top: 22px;
    padding-left: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-left: 2px solid #b2b2b2;
    margin-bottom: 50px;

}

#landing_page-discover {
    padding-top: 450px;
}

#landing_page-discover a {
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #ffffff;
    background: #d35400;
    padding: 15px 35px 15px 35px;
}

#landing_page-discover a:hover {
    background: #B27A55;
    color: #ffffff !important;
}

#landing_page-discover {
    padding-bottom: 50px;

}

#video {
    padding-bottom: 45px;
}

#Latest_News span {
    font-family: "Helvetica";
    font-size: 30px;
    padding-left: 10px;
    color: #373737;
}

.blocks-news {
    display: flex;
    bottom: 0;
    padding: 45px 55px 25px 55px;
}

#block_1-news {
    padding-right: 60px;

}

#block_2-news {
    padding-right: 60px;

}

#link-news {
    display: flex;
    bottom: 0;
    padding-bottom: 100px;

}

#link-news a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;

}

#link-news a:hover {
    background: #A86E68;
    color: #ffffff !important;
}

#link_1-news a {
    background: #c0392b;
    padding: 10px 27px 10px 27px;
}

#link_2-news a {
    background: #c0392b;
    padding: 10px 27px 10px 27px;
}

#link_3-news a {
    background: #c0392b;
    padding: 10px 27px 10px 27px;
}

#link_1-news {
    padding-left: 55px;
}

#link_2-news {
    padding-left: 194px;
}

#link_3-news {
    padding-left: 182px;
}

#link-news a:hover{
    color: #d35400;
}

.blocks-news span {
    font-family: "Open Sans";
    font-size: 12px;

}

.blocks-news h2 {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
}

/* TECHNICAL PAGE */

.technical-content {
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
}

.technical-slider-wraper {
    width: 960px;;
    height: 590px;
    background: url('../images/tech-slider-grid.png');
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.technical-slider-wraper .slider-head {
    padding: 20px 0 0 0;
}

.technical-slider-wraper .slider-head span {
    background-color: #ffea00;
    padding: 15px 50px 15px 50px;
    cursor: pointer;
}

.technical-slider-wraper .slider-head span.active {
    border-bottom: 2px solid #3b3b3b;
    text-decoration: none;
}

.technical-slider-wraper .slider-buttons {
    margin: 45px 0 0 20px;
    position: absolute;
    z-index: 10;
}

.technical-slider-wraper .slider-buttons span p {
    padding-top: 32px;
    text-align: center;
}

.technical-slider-wraper .slider-buttons span {
    background: url(../images/slider-circle-white.png);
    width: 94px;
    height: 94px;
    display: inline-block;
    background-repeat: no-repeat;
    color: #000000;
    cursor: pointer;
}

.technical-slider-wraper .slider-buttons span.active {
    background: url(../images/slider-circle-black.png) !important;
    color: #ffffff;

}

.technical-slider-wraper #slides-holder {
    position: absolute;
    width: 100%;
}

.technical-slider-wraper #slides-holder .slide {
    padding: 25px 0 0 20px;
}

.technical-slider-wraper .slider-text {
    margin-top: 60px;
    position: absolute;
    right: 26px;
}

.technical-slider-wraper .slider-text span {
    display: table;
    background-color: #ffea00;
    font-size: 19px;
}

.technical-slider-wraper .slider-text .line-1 {
    padding: 10px 10px 0 15px;
}

.technical-slider-wraper .slider-text .line-1 i {
    font-size: 24px;
}

.technical-slider-wraper .slider-text .line-2 {
    padding: 10px 10px 10px 15px;
}

.technical-main-content h1 {
    margin: 40px 0 50px 10px;
    font-size: 30px;
    font-weight: normal;
}

.tabs {
    position: relative;
    min-height: 805px;
    clear: both;
    width: 932px;
    margin: 0 auto;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #ccc;
    margin-left: -1px;
    /*position: relative;*/
    left: 1px;
    cursor: pointer;
    font-size: 14px;

}

.tab [type=radio] {
    display: none;
}


.tab-content {
    position: absolute;
    top: 33px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding-top: 30px;
    erer-top: 1px solid #ccc;
}

[type=radio]:checked ~ label {
    background: #2980b9;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #ffffff;
}

[type=radio]:checked ~ label ~ .tab-content {
    z-index: 1;
}

table.zebra {
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    font-size: 15px;
}

table td {
    padding: 5px;
}

.zebra tbody tr:nth-child(odd) {
    background-color: #dcdcdc;
}

table.geo {
    font-size: 14px;
    float: left;
}

.tab-content img.myimage {
    width: 356px;
}

table.tech {
    font-size: 12px;
}

table.tech .b {
    font-size: 14px;
    font-weight: bold;
}

.tech-tab-img {
    border: 1px solid silver;
}

.doc-info {
    width: 420px;
    font-size: 13px;
    float: left;
}

.doc-info h2 {
    font-weight: normal !important;
}

.down-left-ico {
    background: url(../images/download-left-ico.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 59px;
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.down-right-ico {
    background: url('../images/download-right-ico.png');
    background-repeat: no-repeat;
    width: 34px;
    height: 36px;
    float: right;
    margin-top: -35px;
}
.down-right-ico:hover {
    background: url('../images/download-right-ico-hover.png');
    background-repeat: no-repeat;
}

.doc-downloads {
    position: absolute;
    right: 20px;
    width: 400px;
}

.doc-down-item {
    margin-bottom: 50px;
}

.doc-downloads span.text1, .doc-downloads span.text2 {
    display: -webkit-box;
    vertical-align: middle;
    font-size: 12px;

    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}

.doc-downloads .text .text1 {
    display: block;
}

label:hover {
    color: #d35400;
}

a:hover{
    color: #d35400 !important;
}

.technical-slider-wraper .slider-buttons span:hover {
    background: url("../images/slider-circle-white-hover.png");

}

.technical-slider-wraper .slider-head span:hover {
    border-bottom: 2px dotted #7E3838;
}

#slider-left-arrow:hover {
    background: url("../images/slider-left-arrow-hover.png");
}

#slider-right-arrow:hover {
    background: url("../images/slider-right-arrow-hover.png");
}