
#radiusSelectLB {
    display: none;
    /* CSS Document */
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 12px;
    /* background:red; */
}

#main, #top {
    width: 965px;
    height: 745px;
    position: relative;
}

#top {
    /*margin-top: 10px;*/
    height: 65px;
}

#addressInputLB {
    float: right;
    width: 560px;
    padding: 10px 20px;
    background: #fff;

}

#radiusSelectLB {
    float: left;
    width: 295px;
    margin-right: 10px;
    background-color: #F7F7F7;
}

#submit_form, #addressInput {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*padding: 5px 15px;*/
    display: inline-block;
    font-size: 14px;
}

#submit_form {
   /* background: #25374a;
    color: #fff;
    margin-left: 15px;*/
    cursor: pointer;
}

#submit_form:hover {
    background: #888;
}

#addressInput {
    width: 220px;
    color: #aaa;
    border: 1px solid #e0e4e8;
    /*background: url('../../storelocator/images/input_bg.jpg') repeat-x;*/
}

#top label {
    font-size: 18px;
    margin-right: 15px;
    display: inline-block;
    line-height: 18px;
}

#map {
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: left;
}

#maphl {
    width: 600px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#hl {
    float: left;
    width: 270px;
    top: 60px;
    font-size: 20px;
    padding: 20px 30px;
}

#hl, #sidebar {
    position: absolute;
    right: 20px;
    background: #fff;
    z-index: 999;
    border: 1px solid #90a6c0;
}

#sidebar {
    bottom: 20px;
    top: 140px;
    width: 330px;
    color: #000;
}

#sidebar_content div {
    padding: 20px;
}

#sidebar div span {
    display: block;
    font-size: 14px;
    margin: 0 0 5px 0;
}

#sidebar .sidebar_name {
    font-size: 20px;
}

#sidebar .sidebar_www {
    text-decoration: underline;
}

#sidebar_inner {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gmnoprint td {
    vertical-align: top;
    padding: 10px 0;
}

div.roundborders {
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 220px !important;

}

div.roundborders * {
    border: 0 !important;
    background: transparent !important;
}

.tooltip_bottom img {
    position: absolute;
    bottom: 4px;
    width: 33px;
    height: 28px;
    left: 50%;
    margin-left: -17px;
}

























.LocateButton {
    background-color: #CCC;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #666;
    border-right-color: #666;
    border-bottom-color: #666;
    border-left-color: #666;
    font-weight: bold;
}
#ueberschrift {
    width: 160px;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #666;
}
#ueberschrift_bmx {
    width: 160px;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.headline_bmx {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
