<footer>
    <div id="shadow"></div>
    <div class="footer-main">
        <div id="footer-wrapper">
            <div id="left-tab">
                <div class="row" style="height: 112px;">
                    <div class="column">
                        <img src="./images/logo_1-footer.png" alt="Facebook">
                    </div>
                    <div class="column">
                        <img src="./images/bulls+f.png" alt="Bulls+F">
                    </div>
                </div>
                <div class="row aaa">
                    <ul>
                        <li><a href="?page=kontakt-page">Kontakt</a></li>
                        <li><a href="?page=impressum-page">Impressum</a></li>
                        <li><a href="#">ZEG</a></li>
                        <li><a href="#">BULLS</a></li>
                    </ul>
                </div>
            </div>
            <div class="right-tab">
                <div class="text-map">
                    <p>
                        FIND A<br>BULLS DEALER
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>